* {
  all: unset;
}

.bar {
  background-color: #3b4252;
  color: #ebcb8b;
  border-radius: 5px;
}

.workspaces {
  margin-left: 20px;
}
.workspaces button {
  font-size: 18px;
}
.workspaces .non-active {
  padding: 0 10px;
  transition: color 0.2s ease-in;
}
.workspaces .non-active:hover {
  color: #d8dee9;
}
.workspaces .active {
  color: #88c0d0;
}

.control-center {
  margin-right: 30px;
}
.control-center .brightness {
  font-size: 16px;
}
.control-center .battery-capacity {
  font-size: 16px;
}
.control-center .vol-label {
  font-size: 26px;
  margin-right: 15px;
}
.control-center .vol-slider trough highlight {
  min-height: 16px;
  min-width: 16px;
  background-color: #88c0d0;
  border-radius: 10px;
}
.control-center .vol-slider trough {
  background-color: #d8dee9;
  min-height: 16px;
  min-width: 100px;
  border-radius: 10px;
  margin-right: 15px;
}
.control-center .curr-vol {
  font-size: 16px;
}
