[init]
	defaultBranch = main
[user]
	name = Ratul Saha
	email = contact@ratulsaha.me
	signingkey = key::ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBFH9Hjfboj1Id6q4ftTqGn7MjjXp2ugzRfWhcpY08SH9JxVdAD7NbRa0PAJArMZSEAuaIM0SPi5E5wLOwljrw5U= Public key for Digital Signature
[core]
  editor = nvim
  pager = delta
	preloadindex = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[safe]
	directory = *
[url "git@bitbucket.org:lawzo-git"]
	insteadOf = https://bitbucket.org/lawzo-git
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	program = /opt/homebrew/opt/openssh/bin/ssh-keygen
	allowedSignersFile = /Users/ratulsaha/.ssh/allowed_signers
