[init]
	defaultBranch = main
[user]
	name = Ratul Saha
	email = contact@ratulsaha.me
[core]
  editor = nvim
  pager = delta
	preloadindex = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[safe]
	directory = *
[url "git@bitbucket.org:lawzo-git"]
	insteadOf = https://bitbucket.org/lawzo-git
