[submodule "alacritty/themes/catppuccin"]
	path = alacritty/themes/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "st"]
	path = st
	url = https://github.com/ThatAnonyG/st.git
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/ThatAnonyG/dmenu.git
