[init]
	defaultBranch = main
[user]
	name = Ratul Saha
	email = contact@ratulsaha.me
	signingkey = 70663DDFA022DB227346797C537D9513A64EA3D4
[core]
  editor = nvim
  pager = delta
	preloadindex = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[safe]
	directory = *
[url "git@bitbucket.org:lawzo-git"]
	insteadOf = https://bitbucket.org/lawzo-git
[commit]
	gpgsign = false
[gpg]
	program = gpg
